[submodule "pkg/Sciplotlib"]
	path = pkg/Sciplotlib
	url = git@github.com:tfiers/Sciplotlib.jl.git
[submodule "pkg/MyToolbox"]
	path = pkg/MyToolbox
	url = git@github.com:tfiers/MyToolbox.jl.git
[submodule "pkg/Firework"]
	path = pkg/Firework
	url = git@github.com:tfiers/Firework.jl.git
