[submodule "julia-codebase/dev/Distributions"]
	path = julia-codebase/dev/Distributions
	url = https://github.com/tfiers/Distributions.jl.git
[submodule "julia-codebase/dev/Unitful"]
	path = julia-codebase/dev/Unitful
	url = https://github.com/tfiers/Unitful.jl.git
[submodule "julia-codebase/dev/Sciplotlib"]
	path = julia-codebase/dev/Sciplotlib
	url = git@github.com:tfiers/Sciplotlib.jl.git
[submodule "julia-codebase/dev/WhatIsHappening"]
	path = julia-codebase/dev/WhatIsHappening
	url = git@github.com:tfiers/WhatIsHappening.jl.git
[submodule "julia-codebase/dev/MyToolbox"]
	path = julia-codebase/dev/MyToolbox
	url = git@github.com:tfiers/MyToolbox.jl.git
