# IDE (PyCharm & VS Code) project specific settings
.idea
.vscode

# Old, manually saved versions of Jupyter notebooks
.ipynb_checkpoints

# Cached Python bytecode created when importing a module
__pycache__

# Installation artifact from `pip install -e`
*.egg-info

# Function call cache directory
joblib

# Jupyter Book html output directory
_build

