lxml ~= 4.5

git+https://github.com/mcmtroffaes/sphinxcontrib-bibtex.git@e515b45bb8
# This is release candidate for 2.2.0. Can be removed when it's released on PyPI (and
# jupyter-book requires it). (We want 2.2 for `cite:t` behaviour).

# jupyter-book == 0.10.0

git+https://github.com/tfiers/jupyter-book
# jb requires 2.1 for sphinxcontrib-bibtex. This fork also allows 2.2.
# (newest pip 21 enforces dep conflicts by not installing).
